td, th {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.project-description {
  text-align: left;
}

.project-table {
  width: 96%;
  margin: 25px 25px 25px 50px;
}

.ticket-table {
  width: 97%;
  margin-left: 50px;
}

.ticket-description {
  text-align: left;
}


